#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.full-screen {
  left: 0;
  min-width: 100%;
  background-color: black;
  opacity: 0.75;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9998;
}
